/*colors*/
:root {
  /* font weight */
  --medium: 500;
  --wight-600: 600;
  --wight-large: 700;

  /* font size */
  --large-40: 40px;
   --large-32: 32px;
  --large-28: 28px;
  --large-24: 24px;
  --large-22: 22px;
  --large-20: 20px;
  --medium-16: 16px;
  --medium-18: 18px;
  --small-14: 14px;
  --small-12: 12px;
  --large: 32px;

  /* Line height */
  --line-height-60: 60px;
  --line-height-48: 48px;
  --line-height-42: 42px;
  --line-height-36: 36px;
  --line-height-32: 32px;
  --line-height-30: 30px;
  --line-height-27: 27px;
  --line-height-24: 24px;
  --line-height-21: 21px;
  --line-height-18: 18px;

  /* colours */
  --white: #fff;
  --wight: #f4ffff;
  --wightAuth: #f5ffff;
  --label: #e6e6e6;
  --veryLightGray: #cccccc;
  --lightGray: #b3b3b3;
  --gray-300: #b8b8b8;
  --gray: #999999;
  --darkerGray: #666666;
  --darkGray: #333333;
  --black-900: #353535;
  --black: #000;
  --titleSecondary: #161A23;
  --lightYellow: #ffecce;
  --yellow: #ffdba4;
  --yellowForStars: #ffc670;
  --shadow: #9bb3c1;
  --greem: #1e5f72;
  --greenForBtn: #1e5f72;
  --primaryBlue: #376b8e;
  --mediumBlue: #224256;
  --darkBlue: #152a38;
  --erro-100: #ac0000;
  --disabled: #7d7d7d;
  --adminBorder: #d3d9d9;
  --adminDarkBlue: #3a4c50;
  --sale: #c83c33;
  --newMarker: #40898e;
}
