.resetPasswordInfoContainer {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
}

.resetPasswordHeading {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: var(--black-900);
}

.iconWrapper{
  display: none;
  border: 1px solid lightblue;
}

.form{
  visibility: hidden;
}

@media screen and (min-width: 1180px) {
  .iconWrapper{
    display: block;
  }
}
