.availableBlock {
    margin-bottom: 32px;
}

.availableHeader {
    display: flex;
    gap: 32px;
    margin-bottom: 16px;
}

.clearButton {
    font-weight: var(--medium);
    text-decoration-line: underline;
    color: var(--erro-100);
    border: none;
    cursor: pointer;
}

.availableHeaderText {
    font-size: var(--large-20);
    font-weight: var(--wight-600);
    line-height: var(--line-height-30);
    color: rgba(53, 53, 53, 1);
}

.availableColorText {
    font-weight: var(--wight-600);
    color: var(--black-900);
    margin-bottom: 8px;
}

.wrapper {
    display: flex;
    gap: 24px;
    list-style: none;
}

.wrapper img {
    margin: 0 9px 8px;
}

.colorItem {
    cursor: pointer;
    border-radius: 2px;
}

.colorItem.active {
    border: 1px solid var(--greenForBtn);
}

.colorItem.active .color {
    color: rgba(245, 255, 255, 1);
    background-color: var(--greenForBtn);
}

.color {
    font-size: var(--small-14);
    font-weight: var(--medium);
    line-height: var(--line-height-21);
    color: var(--black-900);
    background-color: inherit;
    text-align: center;
    transition: background-color linear .3s;
}

@media screen and (max-width: 1179px) {
    .availableBlock {
        margin-bottom: 16px;
    }

    .wrapper {
        gap: 16px;
        overflow-x: auto;
        width: 100vw;
    }
}