.title {
  font-size: 38px;
  margin: 1rem 0;
  margin-top: 2rem;
  color: var(--greem);
  font-style: italic;
  line-height: 1.2;
}

.embla {
  margin: auto;
  --slide-spacing: 1.6rem;
  --slide-size: 100%;
  --slide-height: 400px;
}
.embla__viewport {
  overflow: hidden;
  padding: 10px;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.embla__slide__item {
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
  
  & img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    overflow: hidden;
    object-fit: contain;
  }
}

.embla__controls {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  margin-top: 0.6rem;
  margin-bottom: 1.8rem;
}

.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}
.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 1.8rem;
  height: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.embla__dot:after {
  background: var(--veryLightGray);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: '';
}
.embla__dot--selected:after {
  background: var(--darkBlue);
}


@media screen and (max-width: 1179px){
  .title {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  margin: 1rem 0 0 0;
  }

  .embla {
  --slide-height: 264px;
  }
}

@media screen and (max-width: 744px){
  .title {
  font-family: Montserrat;
  font-weight: 600;
  font-style: Italic;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  margin: 1rem 0 0 0;
  }

  .embla__slide__item {
  & img {
    object-fit: none;
    object-position: 84% 45%;
    height: 264px;
  }
}

  .embla {
  --slide-height: 264px;
  }
}
