.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 14px;
}

.title {
  font-weight: var(--wight-600);
  font-style: SemiBold;
  font-size: var(--large-28);
  line-height: var(--line-height-42);
}

.orderNumber {
  font-weight: var(--wight-600);
  font-style: SemiBold;
  font-size: var(--large-28);
  line-height: var(--line-height-42);
}

.addressBlock {
  display: flex;
  width: 100%;
  gap: 20px;
}

.addressInfo {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 16px;
}

.h3 {
  font-weight: var(--wight-600);
  font-style: SemiBold;
  font-size: var(--medium-18);
  line-height: var(--line-height-27);
}

.h3.treck {
  margin-bottom: 16px;
}

.button {
  display: flex;
  height: 40px;
  border-radius: 5px;
  border: 1px solid var(--greenForBtn);
  padding: 8px 16px;
  background-color: inherit;
  color: var(--greenForBtn);
  cursor: pointer;
}

.icon {
  margin-right: 10px;
}

.treck {
  font-weight: 400;
  font-style: Regular;
  color: #0c1419;
  margin-bottom: 12px;
}

.treckNumber {
  font-size: var(--large-20);
  line-height: var(--line-height-30);
  color: var(--primaryBlue);
}

.treckStatus {
  font-weight: var(--wight-600);
  font-style: SemiBold;
  font-size: var(--small-12);
  line-height: var(--line-height-18);
  letter-spacing: 4%;
  text-align: center;
  color: var(--greenForBtn);
}

.treckStatus.undone {
  color: var(--disabled);
}

.productName {
  text-decoration: underline;
  text-decoration-style: solid;
  color: var(--mediumBlue);
}

.productDescr {
  font-size: var(--small-14);
  line-height: var(--line-height-21);
}

.priceSmall {
  font-size: 18px;
  line-height: 150%;
}

.count {
  font-size: var(--small-14);
  line-height: var(--line-height-21);
}

.priceBig {
  font-size: 22px;
  line-height: 150%;
}

.totalSum {
  font-weight: var(--wight-600);
  font-style: SemiBold;
  font-size: var(--large-24);
  line-height: var(--line-height-36);
  color: var(--greenForBtn);
}
