.editDataForm {
  margin-left: 20px;
  max-width: 100%;
  background-color: var(--wightAuth);
  padding: 15px 45px 32px 45px;
  color: var(--black-900);
}

.formHeader {
  display: flex;
  align-self: flex-start;
  font-weight: var(--wight-600);
  font-size: var(--large-28);
  color: var(--black-900);
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
  margin-top: 20px;
  width: 100%;
}

.personalDataContainerWithHeader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 24px;
  width: 100%;
}

.personalDataHeder {
  margin-bottom: -8px;
}

.personalDataContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  gap: 40px;
}

.personalData > div > input {
  min-width: 335px;
  margin-top: 24px;
}

.mailingContainet {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.spam {
  font-size: var(--large-20);
  display: flex;
  align-self: flex-start;
}

.subscriptionContainer {
  display: flex;
  align-items: center;
}

.subscription {
  margin-top: 16px;
  margin-bottom: 32px;
  margin-right: 32px;
}

.subscriptionContainer > div > label::before {
  border-color: var(--black-600);
  border-radius: 10px;
  margin-right: 8px;
}

.subscriptionContainer > div > input[type='checkbox']:checked + label::before {
  content: '';
}

.subscriptionContainer > div:first-of-type {
  margin-right: 24px;
}

.EditPassword {
  display: block;
  align-self: baseline;
  /* justify-content: space-between;
  gap: 40px; */
}

.EditPassword > div > input {
  min-width: 335px;
  margin-top: 24px;
}

.EditPassword > div > input + img {
  /* top: 34px; */
  top: 15px;
}

.EditPassword input:last-of-type {
  margin-bottom: 32px;
}

.deleteAccount {
  color: var(--erro-100);
  text-decoration: underline;
  cursor: pointer;
}

.EditEmailContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 24px;
  gap: 40px;
}

.editEmail > div > input {
  min-width: 335px;
  margin-top: 24px;
}

.editEmail > div > input + img {
  top: 11px;
}

.emailChangeInfo {
  font-size: 14px;
  margin-top: 24px;
}

.submitButton {
  border-radius: 5px;
  max-width: 248px;
  padding: 9px;
}

.signInToastBody {
  color: var(--black);
  font-family: '__Montserrat_7dfeba';
}

.signInToastErrorMessage {
  background-color: var(--wightAuth);
}

/* ==========radio============== */
.radio_container {
  display: flex;
  margin-bottom: 9px;
}

.input {
  margin-right: 8px;
  cursor: pointer;
}

.radio_container input[type='radio']:checked {
  accent-color: #4e4c4c;
}

.label {
  display: flex;

  font-weight: var(--medium);
  font-size: var(--medium-16);
  line-height: 150%;
  letter-spacing: 0%;
  margin-right: 36px;
  cursor: pointer;
}

.openPersonalDataModal {
  width: 735px !important;
  padding: 40px;
  margin: 0 auto;
}

.openPersonalDataModal  h2{
  font-family: Montserrat;
  font-weight: var(--wight-600);
  font-style: SemiBold;
  font-size: var(--medium-18);
  leading-trim: NONE;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0%;
  margin-bottom: 16px;
}

.openPersonalDataModal  img{
 display: block;
 margin: 0 auto;
}

.openPersonalDataModal .btn_modalContainer{
  margin: 0 auto;
}

.btn_modalContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 0 auto;
}

.btn_modal, .btn_modal_active{
 min-width: 197px;
 display: flex;
 align-items: center;
 justify-content: center;
 border-radius: 5px;
 padding: 9px 50px;
 cursor: pointer;
}

.btn_modal_active{
  color: var(--wightAuth);
  background-color: var(--primaryBlue);
  border: 1px solid var(--primaryBlue);
}

.btn_modal{
  color: var(--greem);
  background-color: var(--wightAuth);
  border: 1px solid var(--greem);
}

.btn_modal > span, .btn_modal_active > span {
 font-family: Montserrat;
 font-weight: var(--medium);
 font-style: Medium;
 font-size: var(--medium-16);
 leading-trim: NONE;
 line-height: 150%;
 letter-spacing: 0%;
}

.deleteDescrModal{
 font-family: Montserrat;
 font-weight: var(--wight-600);
 font-style: SemiBold;
 font-size: var(--medium-18);
 -trim: NONE;
 -height: 150%;
 letter-spacing: 0%;
}

.deleteDescrModal span{
color: var(--greenForBtn);
}

.deleteImgModal{
  display: block;
  width: 100%;
  height: 317px;
}

.successChangeEmail{
 font-family: Montserrat;
 font-weight: var(--medium);
 -style: Medium;
 font-size: var(--medium-16);
 leading-trim: NONE;
 line-height: 150%;
 letter-spacing: 0%;
 margin-bottom: 16px;
}

.successChangeEmail img {
  display: block;
  margin: 0 auto;
}


@media screen and (max-width: 1179px){
.editDataForm {
  position: relative;
}

.deleteAccount {
  position: absolute;
  z-index: 5;
  left: 45px;
  top: 670px;
}

.mailingContainet {
 margin-bottom: 10px;
}

.personalDataContainer {
 flex-wrap: wrap;
 gap: 0px;
}

.EditEmailContainer {
  flex-direction: column;
}

.emailChangeInfo {
  margin-top: -24px;
}

.openPersonalDataModal {
  width: 664px !important;
}
}


@media screen and (max-width: 743px){
.editDataForm {
 margin-left: 0;
 padding: 0;
}

.personalData > div > input {
  min-width: 310px;
}

.EditPassword > div > input {
  min-width: 310px;
}

.editEmail > div > input {
  min-width: 310px;
}

.formHeader {
  font-size: var(--large-22);
}

.spam{
  font-size: var(--medium-18);
}

.spam:not(.spam_mailing) {
  margin-top: 22px;
}

.subscriptionContainer {
 flex-direction: column;
}

.subscription{
  margin-bottom: 12px;
  margin-right: -62px;
}

.deleteAccount {
  left: 0px;
  top: 680px;
}

.emailChangeInfo {
  font-size: 15px;
}
.openPersonalDataModal {
  width: 328px !important;
}
.btn_modalContainer {
  flex-direction: column;
}
}

@media screen and (min-width: 500px) and (max-width: 767px){
.openPersonalDataModal {
  min-width: 328px !important;
}
.btn_modalContainer {
  flex-direction: column !important;
}
}

@media screen and (max-width: 359px){
  .personalData > div > input {
  min-width: 115%;
}

.EditPassword > div > input {
  min-width: 115%;
}

.editEmail > div > input {
  min-width: 115%;
}
}
