.wrapper {
    width: 100%;
    max-width: 580px;
    background-color: var(--wightAuth);
}

.blockTabs {
    display: flex;
    margin-bottom: 20px;
}

.tabs {
    padding: 10px 30px;
    border-radius: 2px 2px 0px 0px;
    border: none;
    border-bottom: 1px solid var(--label);
    font-weight: var(--medium);
    font-size: var(--medium-18);
    line-height: var(--line-height-27);
}

.tabs.activeTabs {
    font-weight: var(--wight-600);
    border: 1px solid var(--label);
    border-bottom: none;
}

.contentTabs {
    display: flex;
}

.content {
    display: none;
    flex: 1;
}

.content.activeContent {
    display: block;
    width: 100%;
}

.description {
    margin-bottom: 16px;
}

.attributesBlock {
    margin-bottom: 16px;
}

.attributesItem {
    font-size: var(--medium-16);
    font-weight: var(--medium);
    line-height: var(--line-height-24);
    text-align: left;

}

.attributesBlock>h3 {
    font-size: var(--large-20);
    font-weight: var(--wight-600);
    line-height: 30px;
    text-align: left;
    margin-bottom: 16px;
}

.attributesBlock>ul {
    list-style: inside;
}

.attributesLine {
    display: flex;
    width: 100%;
    border-bottom: 1px solid rgba(230, 230, 230, 1)
}

.attributesLine>span {
    flex: 1;
}

.attributesLineLeft {
    font-size: var(--medium-18);
    line-height: var(--line-height-27);
    font-weight: 400;
}

.attributesLineRight {
    font-size: var(--medium-18);
    line-height: var(--line-height-27);
    font-weight: var(--medium);
}

.thankingText {
    padding: 16px;
    font-weight: var(--wight-600);
    background: rgba(30, 95, 114, 0.1);
    border-radius: 5px;
    text-align: center;
}

@media screen and (max-width: 1179px) {
    .wrapper {
        max-width: 664px;
    }
}

@media screen and (max-width: 743px) {
    .wrapper {
        max-width: 329px;
    }

    .blockTabs {
        margin-bottom: 16px;
    }

    .tabs {
        padding: 4px 12px;
        font-size: var(--medium-16);
        line-height: var(--line-height-24);
    }

    .attributesBlock>h3 {
        font-size: var(--medium-18);
        line-height: var(--line-height-27);
        margin-bottom: 8px;
    }

    .attributesLineLeft {
        font-size: var(--medium-16);
        line-height: var(--line-height-24);
    }

    .attributesLineRight {
        font-size: var(--medium-16);
        line-height: var(--line-height-24);
    }
}