.page {
  background-image: url('/images/page404.png');
  background-repeat: no-repeat;
  background-position: top;
  min-height: 750px;
  width: 100%;
}

.mainBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 175px;
  transform: translateX(-100px);
}

.main {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.title {
  font-size: 120px;
  font-weight: 700;
  color: #c83c33;
  min-height: 86px;
}

.descr {
  font-size: 22px;
  font-weight: 500;
  line-height: 150%;
  color: #353535;
}

.imgBox {
  max-height: 426px;
  max-width: 1150px;
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  position: relative;
}

.img {
  margin-left: 200px;
}

.btn {
  position: absolute;
  padding: 12px 48px;
  background-color: #376b8e;
  height: fit-content;
  color: #f5ffff;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 16px;
  transition: 0.5s;
}

.btn:hover {
  background-color: #152a38;
}

.btnText {
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
}

@media screen and (max-width: 743px) {
  .page {
    margin-bottom: 100px;
  }

  .mainBox {
    transform: translateX(0px);
    margin-top: 55px;
  }

  .title {
    font-size: 80px;
    height: 98px;
  }

  .descr {
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 8px;
  }

  .imgBox {
    width: 328px;
    height: 147px !important;
    background-position: center top;
    margin-top: 200px;
  }

  .img {
    margin-left: 0;
  }

  .btn {
    top: -150px;
  }
}
