.blogs_container {
  /* margin-top: 32px; */
  margin-bottom: 120px;
}

.blogs_title {
  font-size: var(--large-28);
  font-weight: var(--wight-600);
  line-height: var(--line-height-42);
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 32px;
}

@media screen and (max-width: 1179px) {
  .blogs_container {
    margin-top: 62px;
    margin-bottom: 80px;
  }
  .blogs_item {
    width: calc((100% - 40px) / 2);
  }
}

@media screen and (max-width: 743px) {
  .blogs_container {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .blogs_title {
    font-size: var(--large-22);
    line-height: var(--line-height-33);
    margin-bottom: 16px;
  }

  .blogs_item {
    width: calc((100% - 20px) / 1);
    margin-bottom: 16px;
  }
}
