.personalAccountLayout {
  background-image: url('../../../../../public/images/PersonalAccBackground.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
}

.dashboardWrapper {
  display: flex;
  gap: 20px;
  /* width: 100%; */
  /* justify-content: space-between; */
}

.section {
  background-color: #f5ffff;
  padding: 16px 40px;
  border-radius: 6px;
  width: 100%;
  margin-bottom: 48px;
}

.profileMenuLayout {
  display: block;
}

@media (max-width: 768px) {
  .profileMenuLayout {
    display: none;
  }
}

.alreadyShownBox {
  display: flex;
  flex-direction: column;
}

.cardsBox {
  padding-left: 8px !important;
  padding-bottom: 0 !important;
  gap: 8px !important;
}

.welcomeMessage {
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 36px;
}

.emptyBanner {
}

.emptyBannerText {
}
