.containerModal {
    padding: 0;
    width: fit-content;
    position: absolute;
    transform: translate(50%, -50%);
    top: 50%;
    right: 50%;
    z-index: 20;
}

.modal {
    box-sizing: border-box;
    background-color: var(--wightAuth);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    max-width: 696px;
    min-width: 326px;
    padding: 40px 80px;
    gap: 32px;
}

.title {
    font-weight: var(--medium);
    font-size: var(--medium-18);
    line-height: var(--line-height-27);
    text-align: center;
    margin-bottom: 16px;
}

.text {
    font-weight: var(--medium);
    font-size: var(--medium-18);
    line-height: var(--line-height-27);
    text-align: center;
}