.breadcrumbsContainer {
  background-color: var(--wightAuth);
}

.breadcrumbsList {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-top: 35px;
  padding-bottom: 20px;
  align-items: center;
}

.homeIcon {
  margin-right: 8px;
  margin-top: 6px;
}

.breadcrumbsList > img {
  margin-right: 8px;
}

.listItem {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.listItem > img {
  margin-right: 8px;
}

.listItem > li > a {
  color: var(--black);
  margin-right: 8px;
}

@media screen and (max-width: 1179px){
.listItem > li > a,  .listItem > li > p {
 font-size: var(--small-14);
}

}

@media screen and (max-width: 743px){
.listItem > img {
  margin-right: 18px;
}

.listItem > li > a {
  margin-right: 0px;
}
}
