.catalog {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 280px;
  min-height: 62px;
  font-size: 18px;
  background-color: var(--mediumBlue);
  cursor: pointer;
  line-height: 22px;

  & > img {
    margin-right: 8px;
  }
}

.catalogList__container {
  position: absolute;
}

.overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.burger {
  display: none;
}

@media screen and (max-width: 1179px) {
  .catalog {
    display: none;
  }

  .burger {
    width: 70px;
    height: 70px;
    margin-top: -40px;
    display: inline-block;
    cursor: pointer;
  }

  .icon_container {
    display: none;
  }
}

@media screen and (max-width: 743px) {
  .header {
    height: 127px;
  }
  .burger {
    width: 50px;
    height: 50px;
  }
}
