.catalog {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 280px;
  min-height: 62px;
  font-size: 18px;
  background-color: var(--mediumBlue);
  cursor: pointer;
  line-height: 22px;

  & > img {
    margin-right: 8px;
  }
}

.catalogList__container{
  position: absolute;
}

.overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
