.authModal {
  z-index: 3;
  padding: 40px 80px;
}

.authModalForgotPassword {
  z-index: 3;
  padding: 40px 80px;
  min-width: 960px;
}

.overlay {
  display: block;
  position: absolute;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.3);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

@media screen and (min-width: 744px) and (max-width: 1179px) {
  .authModal {
    padding: 24px;
  }

  .authModalForgotPassword {
    padding: 40px;
    min-width: 664px;
  }
}

/* @media screen and (max-width: 768px) {
  .authModal {
    padding: 24px;
  }
} */

@media screen and (max-width: 743px) {
  .authModal {
    padding: 16px;
  }

  .authModalForgotPassword {
    padding: 24px;
    min-width: 329px;
  }
}

@media screen and (max-width: 360px){
  .authModalForgotPassword {
    padding: 18px;
    min-width: 310px;
  }
}