.button {
  display: flex;
  justify-content: center;
  align-items: center;
	padding: 14px 16px;
  border: none;
	border-radius: 5px;
  cursor: pointer;
	box-sizing: border-box;
}

.primary {
	background-color: var(--primaryBlue);
  color: var(--white);
}

.secondary {
	background-color: var(--yellow);
  color: var(--darkBlue);
}

.transparent {
	background-color: var(--wightAuth);
	color: var(--primaryBlue);
	border: 1px solid var(--primaryBlue);
}

.large {
	font-size: 20px;
}

.small {
	font-size: 16px;
}

.full {
	width: 100%;
}

.button:disabled {
	opacity: 0.5;
  cursor: not-allowed;
}