.homeIcon {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

.about_navigation_container {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px 0;
  margin: 18px 0;
}

.about_navigation {
  text-decoration: none;
  font-size: 14px;
  color: #000;
}

.about_navigation:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.title_navigation {
  opacity: 0.5;
  font-weight: 500;
  pointer-events: none;
}

@media screen and (max-width: 1179px) {
  .about_navigation_container {
    top: 16px;
  }
}

@media screen and (max-width: 743px) {
  .homeIcon {
    cursor: auto;
  }

  .about_navigation_container {
    top: 10px;
  }

  .about_navigation_img {
    margin: 0 8px;
  }
}
