.homeIcon {
  cursor: pointer;
}

.about_navigation_container {
  position: relative;
  top: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 72px;
}

.about_navigation {
  font-weight: var(--medium-500);
  font-size: var(--small-14);
  line-height: var(--line-height-21);
  color: rgb(36, 35, 35);
}

.title_navigation {
  cursor: auto;
  pointer-events: none;
}

.about_navigation_img {
  margin: 0 5px;
}

.title_navigation {
  cursor: auto;
  pointer-events: none;
}

@media screen and (max-width: 1179px) {
  .about_navigation_container {
    top: 16px;
  }
}

@media screen and (max-width: 743px) {
  .homeIcon {
    cursor: auto;
  }

  .about_navigation_container {
    top: 10px;
  }

  .about_navigation_img {
    margin: 0 8px;
  }

  .title_navigation{
    display: none;
  }
}
