.forgotPasswordForm {
  max-width: 960px;
}

.formHeading {
  display: flex;
  align-self: flex-start;
  font-weight: bold;
  font-size: var(--large);
  color: var(--greem);
  text-align: left;
}

.submitBtn {
  margin-top: 10px;
  font-size: 32px;
}

.inputAndButtobBlock {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.emailInput {
  max-width: 375px;
}

.sybmitEmailInput {
  max-width: 248px;
  padding-top: 9px !important;
  padding-bottom: 9px !important;
}

.setntEmailmodal {
  position: relative;
  transform: translateY(580px);
  padding: 40px 152px;
  min-width: 960px;
  display: flex;
  flex-direction: column;
  animation: slide 1s forwards;
}

/* timing-function delay iteration-count direction fill-mode */

.setntEmailmodal>img {
  display: flex;
  align-self: center;
}

@media screen and (min-width: 744px) and (max-width: 1179px) {
  .forgotPasswordForm {
    max-width: 664px;
  }

  .formHeading {
    font-size: var(--large-22);
  }

  .inputAndButtobBlock {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  .sybmitEmailInput{
    margin-left: 15px;
  }

  .setntEmailmodal {
    min-width: 664px;
    padding: 40px;
    transform: translateY(224px);
    animation: slideT 1s forwards;
  }
}

@media screen and (max-width: 743px) {
  .forgotPasswordForm {
    max-width: 329px;
  }

  .formHeading {
    font-size: var(--large-20);
  }

  .inputAndButtobBlock {
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
  }

  .sybmitEmailInput{
    max-width: 297px;
  }

  .emailInput {
    max-width: 297px;
  }

  .setntEmailmodal {
    min-width: 329px;
    padding: 24px;

    transform: translateY(312px);
    animation: slideM 1s forwards;
  }
}

@keyframes slide {
  from {
    transform: translateY(580px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideM {
  from {
    transform: translateY(320px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideT {
  from {
    transform: translateY(224px);
  }
  to {
    transform: translateY(0);
  }
}
