.breadcrumbWrapper {
    margin-bottom: 32px;
}

.mainContainer {
    display: flex;
    gap: 20px;
    width: 100%;
    margin-bottom: 24px;
    font-family: Montserrat;
    letter-spacing: 0.02em;
    font-weight: 500;
}

.rightBlock {
    flex: 1;
}

.leftBlock {
    flex: 1;
}

.mainInfo {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 40px;
}

.productHeader {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.titleProduct {
    font-size: 30px;
    line-height: 45px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(53, 53, 53, 1);

}

.productRating {
    display: flex;
    align-items: center;
    gap: 8px;
}

.priceBlock {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.price {
    font-size: 34px;
    font-weight: 700;
    line-height: 51px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(53, 53, 53, 1);
}

.available {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(78, 138, 156, 1);
}

.specialInfo {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(86, 86, 86, 1);
}

.specialInfo p span {
    margin-left: 16px;
}

.textSize {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #353535;
}

.sizeContainer {
    display: flex;
    gap: 16px;
}

.size {
    padding: 4px 8px;
    border-radius: 2px;
    border: 1px solid #1E5F72;
    font-size: 14px;
    line-height: 150%;
    color: #353535;
}

.size.active {
    color: #F5FFFF;
    background-color: #1E5F72;
}

.buySection {
    display: flex;
    gap: 24px;
}

.alert {
    font-size: 16px;
    line-height: 150%;
    color: #AC0000;
    margin-bottom: 16px;
}

.buyButton {
    width: 248px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: var(--greenForBtn);
    border: 1px solid var(--greem);
    border-radius: 5px;

    font-weight: var(--medium);
    font-size: var(--medium-18);
    line-height: 150%;
}

.buyButton:hover {
    background: var(--greenForBtnHov);
}

.buyButton:active {
    background: var(--greenForBtnAct);
}

.buyButton:disabled {
    background: var(--disabled);
}

.additionalOffers {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.withThisBuy {
    display: flex;
    flex-direction: column;
    margin-bottom: 36px;
}

.relatedProducts {
    display: flex;
    flex-direction: column;
}