.layout {
    position: relative;
    display: grid;
    grid-template-areas:
        "block2 right"
        "block4 block6"
        "block5 block5"
        "block7 block7";
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    width: 100%;
}

.right {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "block1"
        "block3";
}

/* Назначение блоков в сетке */
.right  { grid-area: right; }

.block1 {
    grid-area: block1;
}

.block2 {
    grid-area: block2;
}

.block3 {
    grid-area: block3;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.block4 {
    grid-area: block4;
}

.block5 {
    grid-area: block5;
}

.block6 {
    grid-area: block6;
}

.block7 {
    grid-area: block7;
}

.titleProduct {
    font-size: 30px;
    line-height: 45px;
    color: rgba(53, 53, 53, 1);

}

.specialContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.productRating {
    display: flex;
    align-items: center;
    gap: 8px;
}

.priceBlock {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.priceWithDiscount {
    width: max-content;
    position: relative;
}

.oldPrice {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-decoration: line-through;
    color: #7D7D7D;
    margin-right: 16px;
}

.discount {
    position: absolute;
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    color: #F5FFFF;
    background: #C83C33;
    display: inline-block;
    border-radius: 5px;
    padding-right: 6px;
    padding-left: 6px;
}

.price {
    font-size: 34px;
    font-weight: 700;
    line-height: 51px;
    color: rgba(53, 53, 53, 1);
}

.available {
    font-size: var(--medium-16);
    font-weight: var(--wight-600);
    line-height: var(--line-height-24);
    color: rgba(78, 138, 156, 1);
}

.specialInfo {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    color: rgba(86, 86, 86, 1);
}

.specialInfo p span {
    margin-left: 16px;
}

.textSize {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #353535;
}

.sizeContainer {
    display: flex;
    gap: 16px;
}

.size {
    padding: 4px 8px;
    border-radius: 2px;
    border: 1px solid #1E5F72;
    font-size: 14px;
    line-height: 150%;
    color: #353535;
}

.size.active {
    color: #F5FFFF;
    background-color: #1E5F72;
}

.buySection {
    position: relative;
    display: flex;
    gap: 24px;
    width: 470px;
}

.alert {
    font-size: 16px;
    line-height: 150%;
    color: var(--erro-100);
    margin-bottom: 16px;
}

.buyButton {
    width: 248px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: var(--greenForBtn);
    border: 1px solid var(--greem);
    border-radius: 5px;

    font-weight: var(--medium);
    font-size: var(--medium-18);
    line-height: 150%;
}

.buyButton:hover {
    background: var(--greenForBtnHov);
}

.buyButton:active {
    background: var(--greenForBtnAct);
}

.buyButton:disabled {
    background: var(--disabled);
}

.additionalOffers {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.following {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 24px;
    height: 24px;
    padding: 3px 2px;
    z-index: 2;
    cursor: pointer;
    border: none;
    background: inherit;
}

.addToFavorite {
    position: absolute;
    width: 226px;
    top: -64px;
    right: 10px;
    padding: 10px 8px;
    border-radius: 5px;
    background: var(--darkBlue);
    color: var(--wightAuth);
    font-weight: var(--medium);
    font-size: var(--small-12);
    line-height: var(--line-height-18);
    letter-spacing: 0.04em;
    z-index: 2;
}

.addToFavorite::after {
    position: absolute;
    content: '';
    width: 16px;
    height: 7px;
    right: 12px;
    bottom: -5px;
    background: url('../../../public/icons/Polygon.svg') no-repeat center / contain;
}

.withThisBuy {
    display: flex;
    flex-direction: column;
}

.relatedProducts {
    display: flex;
    flex-direction: column;
}

@media (min-width: 744px) and (max-width: 1179px) {
    .layout {
        grid-template-areas:
            "block1"
            "block2"
            "block3"
            "block4"
            "block5"
            "block6"
            "block7";
        grid-template-columns: 1fr;
    }

    .right { display: contents; }

    .buySection {
        flex-direction: row;
        gap: 24px;
    }

    .reviewed {
        margin-bottom: 80px;
    }
}

@media screen and (max-width: 743px) {
    .right { display: contents; }

    .layout {
        grid-template-areas:
            "block1"
            "block2"
            "block3"
            "block4"
            "block5"
            "block6"
            "block7";
        grid-template-columns: 1fr;
    }

    .titleProduct {
        font-size: var(--large-22);
        font-weight: var(--wight-600);
        line-height: var(--line-height-32);
        color: rgba(53, 53, 53, 1);
    }

    
    .block3 {
        padding-top: 0;
    }

    .price {
        font-size: var(--large-24);
        line-height: var(--line-height-36);
        font-weight: var(--wight-600);
    }

    .buySection {
        flex-direction: column;
        gap: 16px;
        width: 328px;
    }

    .additionalOffers {
        gap: 32px;
    }

    .reviewed {
        margin-bottom: 60px;
    }
}