.wrapper {
    width: 100%;
    /* width: 980px; */
    /* margin-bottom: 80px; */
}

.title {
    font-size: var(--large-24);
    font-weight: var(--medium);
    line-height: var(--line-height-36);
    margin-bottom: 40px;
    color: #353535;
}

.productName {
    color: #376B8E;
}

.reviewsList {
    display: flex;
    flex-direction: column;
    gap: 24px;
    list-style: none;
}

.reviewItem {
    color: #353535;
}

.headReview {
    margin-bottom: 24px;
    display: flex;
    gap: 20px;
}

.leftBlock {
    display: flex;
    flex: 1;
    min-width: 0;
}

.username {
    margin-right: 8px;
    color: var(--greenForBtn);
}

.usefullTrash {
    display: flex;
    flex: 1;
    min-width: 0;
    gap: 16px;
}

.trashButton {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 4px;
    margin-left: auto;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.date {
    color: #9A9A9A;
}

.message {
    margin-bottom: 16px;
    font-size: var(--medium-16);
    font-weight: var(--medium);
    line-height: var(--line-height-24);
}

.footerReview {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 36px;
}

.isHelpful {
    font-size: var(--small-14);
    font-weight: var(--medium);
    line-height: var(--line-height-21);
    color: var(--primaryBlue);
}

.yesOrNot {
    display: flex;
    gap: 16px;
}

.like_dislike {
    font-size: var(--medium-16);
    font-weight: var(--medium);
    line-height: var(--line-height-24);
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--disabled);
    cursor: pointer;
    border: none;
    background-color: transparent;
}

@media screen and (max-width: 1179px) {
    .reviewsList {
        max-width: 664px;
    }

    .headReview {
        flex-direction: column;
        gap: 8px;
        margin-bottom: 4px;
    }

    .leftBlock {
        gap: 24px;
    }
}

@media screen and (max-width: 743px) {
    .reviewsList {
        max-width: 328px;
    }

    .title {
        font-size: var(--large-20);
        font-weight: var(--wight-600);
        line-height: var(--line-height-30);
        margin-bottom: 16px;
    }

    .username {
        font-size: var(--medium-18);
        font-weight: var(--wight-large);
        line-height: var(--line-height-27);
    }

    .leftBlock {
        flex-direction: column;
        gap: 8px;
    }

    .usefullTrash {
        flex-direction: row;
        gap: 0;
    }

    .footerReview {
        justify-content: space-between;
    }
}