.wrapper {
  margin-bottom: 24px;
  position: relative;
}

.title {
  margin-bottom: 16px;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #353535;
}

.cards {
  display: flex;
  gap: 20px;
}

.paginationControls {
}

.arrowLeft {
  position: absolute;
  top: 50%;
  left: -25px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
  transition: 0.5s;
}

.arrowRight {
  position: absolute;
  top: 50%;
  right: -25px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
  transition: 0.5s;
}

.arrowLeft:hover,
.arrowRight:hover {
  background-color: #b1b5b6;
  border-radius: 4px;
}

@media screen and (max-width: 1179px) {
  .cards {
    flex-wrap: wrap;
    gap: 0;
  }

  .title_info {
    font-family: Montserrat;
    font-weight: var(--medium);
    font-style: Medium;
    font-size: var(--medium-16);
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    margin-top: -20px;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 768px) {
  .arrowRight {
    right: -24px;
    background-color: #1e6071;
    border-radius: 8px;
  }

  .arrowLeft {
    left: -24px;
    background-color: #1e6071;
    border-radius: 8px;
  }
}

/* @media screen and (max-width: 743px){
  .arrowRight{
    right: -16px;
  }

  .arrowLeft {
  left: -16px;
}
} */

@media screen and (max-width: 359px) {
  .cards {
    justify-content: center;
  }
  .arrowRight {
    right: -5px;
  }

  .arrowLeft {
    left: -5px;
  }
}
