.shoppingCart {
  cursor: pointer;
  margin-right: 20px;
  padding: 8px; 
}

.shoppingCart > img:hover {
  color: var(--lightYellow);
}

.shoppingCart_active {
  position: absolute;
  bottom: 35px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(255, 81, 81, 1);
  margin-left: 15px;
}

@media screen and (max-width: 1179px){
  .shoppingCart_active {
  bottom: 23px;
}
}
