.containerModal {
    padding: 0;
    width: fit-content;
    position: absolute;
    transform: translate(50%, -50%);
    top: 50%;
    right: 50%;
    z-index: 20;
}

.modal {
    box-sizing: border-box;
    background-color: var(--wightAuth);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding: 40px 80px;
    gap: 32px;
    width: 535px;
    height: 236px;
}

.title {
    font-weight: var(--medium);
    font-size: var(--medium-16);
    line-height: var(--line-height-24);
    text-align: center;
}

@media screen and (max-width: 1179px) {
    .modal {
        padding: 40px;
        gap: 16px;
        width: 664px;
        height: 226px;
    }

    .title {
        font-weight: var(--wight-600);
        font-size: var(--large-20);
        line-height: var(--line-height-30);
    }
}

@media screen and (max-width: 743px) {
    .modal {
        padding: 40px;
        gap: 16px;
        width: 328px;
        height: 215px;
    }

    .title {
        font-weight: var(--wight-600);
        font-size: var(--medium-18);
        line-height: var(--line-height-27);
    }
}