.container {
  width: 100%;
}

.catalogList_container {
  width: 280px;
  position: absolute;
  top: 31px;
  left: -10px;
  z-index: 10;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border: 1px solid var(----label);
  box-shadow: -20px 0px 55px -25px var(--border-shadow);
  color: var(--darkBlue);
  background-color: var(--wight);
}

.item_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.item {
  width: 100%;
  padding: 8px 0;
  cursor: pointer;
}

.item:hover {
  color: var(--wightAuth);
  background-color: var(--mediumBlue);
  transition: all 700ms ease-in-out;
}

.item_title_container {
  display: flex;
  align-items: center;
}

.spinner_container {
  position: absolute;
  top: -12px;
  right: -180px;
  z-index: 10;
  color: black;
}

.title {
  font-size: var(--medium-16);
  font-weight: var(--medium);
  line-height: var(--line-height-24);
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-left: 8px;
}

.img {
  display: inline-block;
}

.item:hover .img {
  filter: brightness(0) invert(1);
}

@media screen and (max-width: 1179px) {
  .spinner_container {
    top: 2px;
    right: 20px;
  }
  .catalogList_container {
    top: -5px;
    left: 1px;
    height: 100vh;
  }
  .navList_container {
    display: flex;
    margin-left: 40px;
  }

  .navList_container ul {
    display: block;
    flex-direction: column;
    position: absolute;
    z-index: 100;
    top: 500px;
    left: -15px;
    margin-top: 50px;
  }

  .navList_container div {
    opacity: 1;
    pointer-events: all;
    overflow: visible;
    color: var(--black-900);
    background-color: transparent;
    margin-top: 2px;
  }
}

@media screen and (max-width: 743px) {
  .spinner_container {
    right: -10px;
  }
}
