.list {
    height: 384px;
    overflow-y: auto;
    padding: 8px;
    color: var(--greem);
}

.item {
    display: flex;
    /* gap: 20px; */
    align-items: center;
    justify-content: space-between;
}

.item:not(:last-child) {
    margin-bottom: 16px;
}

.previewImage {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.previewImage img {
    object-fit: contain;
}

.name {
    width: 314px;
}

.name a {
    font-size: var(--medium-16);
    font-weight: var(--medium);
    line-height: var(--line-height-24);
    text-decoration: underline;
    color: var(--mediumBlue);
}

.available {
    width: 162px;
    font-size: var(--small-14);
    font-weight: var(--medium);
    line-height: var(--line-height-21);
}

.outOfStock {
    color: #AC0000;
}

.price_container{
  display: flex;
  align-items: center;
  gap: 20px;
}

.price {
    width: 100px;
    font-size: var(--large-20);
    font-weight: var(--wight-600);
    line-height: var(--line-height-30);
    color: var(--mediumBlue);
}

.icon {
    width: 40px;
    height: 40px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.icon img:active {
    box-shadow: 2px 2px 2px 0px rgba(90, 90, 90, 0.75) inset;
    -webkit-box-shadow: 2px 2px 2px 0px rgba(90, 90, 90, 0.75) inset;
    -moz-box-shadow: 2px 2px 2px 0px rgba(90, 90, 90, 0.75) inset;
}

@media screen and (max-width: 1179px){
.item {
 position: relative;
 justify-content: right;
}

.previewImage img {
  position: absolute;
  left: 0;
}

.name{
  position: absolute;
  left: 100px;
  top: 1px;
}

.price_container{
 position: absolute;
 left: 100px;
 top: 27px;
 flex-direction: column;
 gap: 0px;
}
}

@media screen and (max-width: 743px){
.item {
  align-items: center;
}

.name{
left: 90px;
}

.price_container{
left: 90px;
top: 50px;
}
.name{
  width: 200px;
}

.previewImage {
   height: 120px;
}

.icon{
    margin-top: 45px;
}
}