.about {
  position: relative;
  background-image: url('../../../../public/images/about/aboutBackground.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed, scroll;
  height: 960px;
  max-width: 100%;
}

.about_container {
  position: relative;
  top: 434px;
}

.descr_overtext {
  font-weight: var(--wight-600);
  font-size: var(--large-40);
  font-style: italic;
  line-height: var(--line-height-60);
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--wightAuth);
}

.about_logo {
  width: 100%;
  max-width: 1180px;
  margin-top: 38px;
}

.descr_subtext {
  position: absolute;
  right: 0;
  bottom: 40px;
  width: 380px;
  font-weight: var(--wight-600);
  font-size: var(--large-24);
  font-style: italic;
  line-height: var(--line-height-36);
  text-align: left;
  color: var(--wightAuth);
}

.about_navigation_scrollUp {
  position: relative;
  bottom: 32px;
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 1179px) {
  .about {
    background-image: url('../../../../public/images/Background.png');
    background-position: top center;
  }

  .about_container {
    top: 445px;
  }

  .about_logo {
    width: 586px;
    height: 158px;
    margin-top: 27px;
  }

  .descr_subtext {
    right: 0;
    bottom: -90px;
    text-align: right;
  }

  .about_navigation_scrollUp {
    position: relative;
    bottom: -160px;
  }
}

@media screen and (max-width: 743px) {
  .about {
    height: 672px;
    background-position: 40% 30%;
  }

  .about_navigation_img {
    margin: 0 8px;
  }

  .about_container {
    top: 360px;
  }
  .about_logo {
    width: 328px;
    height: 88px;
    margin-top: 8px;
  }

  .descr_overtext {
    font-weight: var(--wight-600);
    font-size: var(--large-24);
    font-style: italic;
    line-height: var(--line-height-36);
    text-align: left;
  }

  .descr_subtext {
    bottom: -52px;
    width: 360px;
    font-weight: var(--wight-600);
    font-size: var(--large-20);
    font-style: italic;
    line-height: var(--line-height-30);
    text-align: right;
  }

  .about_navigation_scrollUp {
    position: relative;
    bottom: -98px;
  }
}
