.about {
  position: relative;
  background-image: url('../../../../public/images/Background.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed, scroll;
  height: 750px;
  /* height: 100%; */
  max-width: 100%;
}

.about_container {
  position: relative;
  margin-top: 23vh;
  margin-bottom: 20vh;
  width: 100%;
  height: 320px;
}

.descr_overtext {
  font-weight: var(--wight-600);
  font-size: var(--large-40);
  font-style: italic;
  line-height: var(--line-height-60);
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--wightAuth);
}

.about_logo {
  max-width: 1180px;
  margin-top: 88px;
}

.descr_subtext {
  position: absolute;
  right: 0;
  bottom: -92px;
  width: 380px;
  font-weight: var(--wight-600);
  font-size: var(--large-24);
  font-style: italic;
  line-height: var(--line-height-36);
  text-align: left;
  color: var(--wightAuth);
}

.about_navigation_scrollUp {
  position: relative;
  bottom: -305px;
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 1179px) {
  .about {
    background-position: top center;
    min-height: 650px;
  }

  .about_container {
    margin-bottom: 30vh;
    margin-top: 30vh;
  }

  .about_logo {
    width: 586px;
    height: 158px;
    margin-top: 27px;
  }

  .descr_subtext {
    right: 0;
    bottom: -90px;
    text-align: right;
  }

  .about_navigation_scrollUp {
    position: relative;
    bottom: -360px;
  }
}

@media screen and (max-width: 743px) {
  .about {
    height: 100%;
  }

  .about_navigation_img {
    margin: 0 8px;
  }

  .about_container {
    margin-top: 30vh;
    margin-bottom: 15vh;
  }

  .about_logo {
    width: 328px;
    height: 88px;
    margin-top: -48px;
  }

  .descr_overtext {
    font-weight: var(--wight-600);
    font-size: var(--large-24);
    font-style: italic;
    line-height: var(--line-height-36);
    text-align: left;
  }

  .descr_subtext {
    bottom: 32px;
    width: 360px;
    font-weight: var(--wight-600);
    font-size: var(--large-20);
    font-style: italic;
    line-height: var(--line-height-30);
    text-align: right;
  }

  .about_navigation_scrollUp {
    position: relative;
    bottom: -290px;
  }
}
