.header {
  background-color: var(--darkBlue);
  color: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 10px;
}
.h1 {
  font-size: 30px;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
}

.navList {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  margin-left: auto;
  padding: 0 30px;
}

.navItem > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  margin: 0 20px;
  text-decoration: none;
  color: var(--white);
}
.navItem > a:hover,
.navItem a.active {
  color: var(--lightYellow);
}

.globusIcon {
  margin-left: 8px;
}

.langSelect {
  min-width: 125px;
}
