.form_title {
  font-weight: var(--medium);
  font-size: var(--medium-18);
  line-height: 150%;
  letter-spacing: 0%;
  margin-bottom: 24px;
}

.input_container {
  display: flex;
  flex-direction: column;
  max-width: 375px;
}

.input {
  outline: none;
  font-weight: var(--medium);
  font-size: var(--medium-16);
  line-height: 150%;
  letter-spacing: 0%;
  border: 1px solid var(--gray-300);
  border-radius: 4px;
  margin-bottom: 32px;
  padding: 12px 16px;
}

.input::placeholder {
  color: var(--placeholder);
}
