.ordersTable {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.ordersTable th {
  width: 25%;
  padding: 16px;
  text-align: left;
}

.ordersTable .even {
  background: #1E5F721A;
  backdrop-filter: blur(40px);
}
