.ratingReview {
    display: flex;
    align-items: center;
    gap: 16px;
}

.ratingReview>p {
    font-size: var(--medium-18);
    line-height: var(--line-height-27);
}

.starsBlock {
    display: flex;
    gap: 18px;
}

.starButton {
    border: none;
}

@media screen and (max-width: 743px) {
.ratingReview {
    flex-direction: column;
    align-items: start;
    gap: 8px;
}

    .ratingReview>p {
        font-size: var(--medium-16);
        line-height: var(--line-height-24);
    }
}