.title {
    margin-bottom: 16px;
    font-size: var(--large-20);
    font-weight: var(--wight-600);
    line-height: var(--line-height-30);
    color: var(--black-900);
}

.container {
    display: flex;
    gap: 30px;
}

.image {
    object-fit: none;
    border-radius: 8px;
    border: 1px solid #F5FFFF;
}

@media screen and (max-width: 743px) {
    .container {
        gap: 16px;
    }
}